/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('amat3.jpeg'); /* Mengatur gambar latar belakang */
    background-size: 250px; /* Memastikan gambar latar belakang menutupi seluruh area */
    background-position: center; /* Posisi gambar latar belakang di tengah */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Warna latar belakang semi-transparan untuk konten */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ff7e5f;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ff7e5f;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background: #ff7e5f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #feb47b;
}

#result {
    margin-top: 20px;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s;
}
